@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*  globals.css */

/* Tailwind base imports */


/* Custom toast animations */
@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leave {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20%);
  }
}

.animate-enter {
  animation: enter 0.3s ease-out forwards;
}

.animate-leave {
  animation: leave 0.2s ease-in forwards;
}

.font-signature {
  font-family: 'Caveat', cursive;
}

.font-main {
  font-family: 'Poppins', sans-serif;
}
.font-hand {
  font-family: 'Patrick Hand', cursive;
}

@import "tailwindcss";